{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<div class="container mt-4">
    {% if validlink %}
        <p>{% translate "Alright, it’s secret code time! Enter your new password below, not once but twice! Think of it as whispering your secret twice to make sure we heard it right." %}</p>
        <form method="post" class="form">{% csrf_token %}
            <div class="mb-3">
                <label for="id_new_password1" class="form-label">{% translate 'New super-secret password:' %}</label>
                {{ form.new_password1 }}
            </div>
            <div class="mb-3">
                <label for="id_new_password2" class="form-label">{% translate 'And just to be sure, type it again:' %}</label>
                {{ form.new_password2 }}
            </div>
            <button type="submit" class="btn btn-primary">{% translate 'Seal the Secret' %}</button>
        </form>
    {% else %}
        <p>{% translate "Oops! Looks like your password reset link decided to play hide and seek. Maybe it’s hiding in your spam folder, or perhaps it’s time to seek a new one!" %}</p>
    {% endif %}
</div>
{% endblock %}
