{% load i18n %}{% autoescape off %}
{% blocktranslate %}A little birdie told us you forgot your password. Don’t worry, it happens to the best of us!{% endblocktranslate %}

{% translate "To get back on track, just hop over to this magical page and pick a fancy new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Forgot who you are too? No worries, your username is:' %} {{ user.get_username }}

{% translate "We can't wait to see you back at our site, doing amazing things (or just browsing around)!" %}

{% endautoescape %}
