{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container mt-4">
    <p class="mb-3">{% translate 'Good news! We’ve dispatched a team of carrier pigeons with instructions to reset your password. If your email exists in our records, they should be arriving shortly. Please provide them with landing space.' %}</p>
    <p>{% translate 'If you don’t receive a pigeon within the hour, please double-check the email address you used to sign up. It’s also worth peeking into your spam folder—sometimes our pigeons stray there.' %}</p>
</div>
{% endblock %}
