{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="container my-5">
    <h1 class="display-4 text-center mb-3 fw-normal">Welcome to Git Happens</h1>
    <h3 class="text-center text-secondary mb-4 fw-normal">Where code comes to laugh!</h3>

    <div class="bg-light p-5 rounded-lg m-3 text-secondary fw-normal">
        <p class="lead">Here at <strong>Git Happens</strong>, we’re dedicated to providing a sanctuary where developers can share tales of epic coding fails, miraculous debugging, and everything in between—without selling out your data. Think of us as your digital campfire.</p>
        <p>So, pull up a chair, grab a coffee, and let's code some fun into the internet. Remember, a day without laughter is a day wasted in the console.</p>
    </div>

    <div class="text-center mt-4 fw-normal">
        <p class="font-italic">No ads, trackers, or rogue semicolons here. Just pure code and fun!</p>
    </div>
</div>
{% endblock content %}
